/app/data/Reduced/
/app/data/.vscode/
/app/templates/bigmap/
/app/templates/graphs/
/app/templates/ladmaps/
/app/templates/maps/
/app/templates/biggrid/
/app/__init__.py
/__pycache__/
/app/__pycache__
/app/data/gb-postcodes-v5/
/myenv/