<html>
    {% extends "individual.html" %}
    {% block head %} 
    {% block refresh %} 
    {% endblock %}
        {{super()}}
        <style type="text/css"> 
            html {height:100%}
            body {
            margin:0;
            height:100%;
            overflow:hidden
            }
        </style>
    {% endblock %} 

<body>

    {% block nav %} 
    {{super()}}
    {% endblock %}

    {% block contentboxleft %}
    <div id="leftmaps">
        <div class="contentboxleft">
            <div class="switchmapbuttons"><button type="button" class="btn btn-dark btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Maps showing average EPC (energy performance) and HPR (heat pump readiness) for Districts in England and Wales" onclick="bigmap();">UK Energy Performance</button><button type="button" class="btn btn-dark btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Maps Heat Pump Adoption Levels for Districts in England and Wales" onclick="adoptionmap();">UK Heat Pump Adoption</button></div>
            <iframe src="/bigmap" width=100%; id="bigmap"></iframe>
        </div>
    </div>
    
    {% endblock %}

<div class="contentbox">
    
    {% block topcontent %} 
    {{super()}}
    {% endblock %} 

    {% block singlerequest %} 
    {{super()}} 
    {% endblock %}
</div>

{% block footer %} 
{{super()}} 
{% endblock %}

{% block redirect %}
{% endblock %}

</body>
</html>


