<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>{% block title %}{% endblock %} EPC Project</title>
    <script type="text/javascript">
        function epcdetails() {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/epcdetails');
            form.style.display = 'hidden';
            document.body.appendChild(form)
            form.submit()
        }
    </script>

<script type="text/javascript">
    function compare() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/compare');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit()
    }
</script>
<script type="text/javascript">
    function epcmap() {
        var form = document.createElement('form');
        form.setAttribute('method', 'get');
        form.setAttribute('action', '/councilepc');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit()
    }
</script>

<script type="text/javascript">
function hprmap() {
    var form = document.createElement('form');
    form.setAttribute('method', 'get');
    form.setAttribute('action', '/councilhpr');
    form.style.display = 'hidden';
    document.body.appendChild(form)
    form.submit()
}
</script>

<script type="text/javascript">
    function epctrends() {
        var newsource = "/mapepctrend";
        document.getElementById("mapepc").src=newsource;
    }
</script>
<script type="text/javascript">
    function epcyoy() {
        var newsource = "/mapepcyoy";
        document.getElementById("mapepc").src=newsource;
    }
</script>



<body scroll="no" style="overflow: hidden">
    <header>
        <div class="container">
            <h1 style="color:blue; text-align:center; font-size:4vh; margin-top: 2%; font-weight:bold;">Heat Pump Ready (HPR) Index</h1>
            <strong><nav>
            {% block nav %} 
            <ul class="menu">
            {% for item in nav.top %}
            <li class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
            </ul>
            {% endblock %}

            </nav></strong>

        </div>
    </header> 
    

    <hr style="width:100%; height:4px; background-color: black;  position:absolute; top:7.5%;" />

    {% block basicmap %} 
    <div class="wrapper">
        <iframe src="/map1" ></iframe>
    </div>
    {% endblock %} 

    

    {% block contentboxleft %} 
    {% endblock %} 
    

    <div class="contentbox">{% block content %} 
    
        {% block topcontent %}
        {% endblock %}
        
        
        {% block singlerequest %}{% endblock %}
        
        
        {% block apireturn %} {% endblock %}
    
        {% block apicontent1 %} {% endblock %}

        {% block apicontent2 %} {% endblock %}
        
          {% endblock %}  
    </div>

<script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
