<!doctype html>
<html>
    {% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    {% block refresh %} 
    <meta http-equiv="Refresh" content="1, url='/lad'" \>
    {% endblock %}
    {% endblock %}

    
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://overpass-30e2.kxcdn.com/overpass.css">
    <title>{% block title %}{% endblock %} Heat Pump Ready App</title>

    {% block scripts %}
    <script type="text/javascript">
        function epcdetails() {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/epcdetails');
            form.style.display = 'hidden';
            document.body.appendChild(form)
            form.submit()
        }
    </script>

<script type="text/javascript">
    function compare() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/compare');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit()
    }
</script>
<script type="text/javascript">
    function ladadoption() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/ladadoption');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit()
    }
</script>
<script type="text/javascript">
    function ladperf() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/lad');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit()
    }
</script>

<script type="text/javascript">
    function bigmap() {
        var newsource = "/bigmap";
        document.getElementById("bigmap").src=newsource;
    }
</script>
<script type="text/javascript">
    function adoptionmap() {
        var newsource = "/adoptionmap";
        document.getElementById("bigmap").src=newsource;
    }
</script>

<script type="text/javascript">
function hprmap() {
    var newsource = "/hprbylad";
    document.getElementById("bigmap").src=newsource;
}
</script>

<script type="text/javascript">
    function ladmapleft() {
        var newsource = "/ladmapleft";
        document.getElementById("bigmap").src=newsource;
    }
</script>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    function dimen() {
    const height = window.innerHeight
    const width = window.innerWidth
    const dict = {width,height}
    const s = JSON.stringify(dict)

    var xml = new XMLHttpRequest();
    xml.open("POST", "/graphdimen",true);
    xml.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    datasend = JSON.stringify({'data1':width, 'data2':height});
    xml.send(datasend)

    }
</script>

<script type="text/javascript">
    function infoswap() {
        var x = document.getElementById("contextinfo");
        var y = document.getElementById("leftmaps1")
        if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
        }else {
            
        }
    };
</script>
<script type="text/javascript">
    function mapswap() {
        var x = document.getElementById("leftmaps1");
        var y = document.getElementById("contextinfo")
        if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
        } else {
            
        }
    };
</script>

<script type="text/javascript">
    const tooltips = document.querySelectorAll('.tippy')
    tooltips.forEach(t => {
        new bootstrap.Tooltip(t)
    })
</script>
{% endblock %}


<body scroll="no" style="overflow: hidden">
    <header>
        {% block nav %} 
        <div class="header">
            <strong><nav>
            <h1 style="color:blue; font-family: Overpass; font-size:6vh; font-weight:800; margin-top: 3%;">The Heat Pump Ready App</h1>
            <ul class="menu" style="font-family: Overpass; font-weight:800;">
            {% for item in nav.top %}
            <li class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
            </ul>
            {% endblock %}
            </nav></strong>
        </div>
    </header> 

    {% block dimen %}
    <script>dimen()</script>
    {% endblock %}
    


    {% block contentboxleft %} 
    <div class="contentboxleft"></div>
    {% endblock %} 
    
    {% block content %} 
    <div class="contentbox1">
    
        {% block topcontent %}
        {% endblock %}
        
        
        {% block singlerequest %}{% endblock %}
        
        
        {% block apireturn %} {% endblock %}

        {% block apicontent1 %} {% endblock %}
        
          {% endblock %}  
    </div>



{% block footer %}
<footer class="footer">
    Heat Pump Ready Project by Ben Browne - University of Bristol
    <div id="rightfooter"><a href="/docs" target="_blank" style="font-weight: bold;">Explore the Documentation for the Tool:</a></div>
</footer>
{% endblock %} 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="static/js/tip.js"></script>


</body>
</html>
