<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block refresh %}
    <meta http-equiv="Refresh" content="1, url='/councilepc'" \>
    {% endblock %}


    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>{% block title %}{% endblock %} EPC Project</title>
    <script type="text/javascript">
        function epcdetails() {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/epcdetails');
            form.style.display = 'hidden';
            document.body.appendChild(form)
            form.submit()
        }
    </script>

<script type="text/javascript">
    function compare() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/compare');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit()
    }
</script>
<script type="text/javascript">
    function epcmap() {
        var newsource = "/epcbylad";
        document.getElementById("bigmap").src=newsource;
    }
</script>

<script type="text/javascript">
function hprmap() {
    var newsource = "/hprbylad";
    document.getElementById("bigmap").src=newsource;
}
</script>

<script type="text/javascript">
    function epctrends() {
        var newsource = "/mapepctrend";
        document.getElementById("mapepc").src=newsource;
    }
</script>

<script type="text/javascript">
    function epcyoy() {
        var newsource = "/mapepcyoy";
        document.getElementById("mapepc").src=newsource;
    }
</script>

<script type="text/javascript">
    function ladmapleft() {
        var newsource = "/epcladmap";
        document.getElementById("bigmap").src=newsource;
    }
</script>


<script>
    function dimen() {
    const height = window.innerHeight
    const width = window.innerWidth
    const dict = {width,height}
    const s = JSON.stringify(dict)
    var xml = new XMLHttpRequest();
    xml.open("POST", "/graphdimen",true);
    xml.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    datasend = JSON.stringify({'data1':width, 'data2':height});
    xml.send(datasend)}

</script>




<body scroll="no" style="overflow: hidden">
    <header>
        <div class="container">
            <h1 style="color:blue; text-align:center; font-size:4vh; margin-top: 2%; font-weight:bold;">Heat Pump Ready (HPR) Index</h1>
            <strong><nav>
            {% block nav %}
            <ul class="menu">
            {% for item in nav.top %}
            <li class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
            </ul>
            {% endblock %}

            </nav></strong>
        </div>
    </header>


    <hr style="width:100%; height:4px; background-color: black;  position:absolute; top:7.5%;" />
    <script>dimen()</script>



    {% block contentboxleft %}
    <div class="contentboxleft"></div>
    {% endblock %}


    <div class="contentbox">{% block content %}

        {% block topcontent %}
        {% endblock %}


        {% block singlerequest %}{% endblock %}


        {% block apireturn %} {% endblock %}

        {% block apicontent1 %} {% endblock %}

        {% block apicontent2 %} {% endblock %}

          {% endblock %}
    </div>

<script src="static/js/bootstrap.bundle.min.js"></script>

{% block footer %}
<footer class="footer">
    Heat Pump Ready Project by Ben Browne - University of Bristol
    <div id="rightfooter">Data Sourced from: <a href="https://epc.opendatacommunities.org/">epc.opendatacommunities.org</a></div>
</footer>
{% endblock %}

{% block redirect %}

{% endblock %}
</body>
</html>
