<html>
    {% extends "individual.html" %}
{% block head %} 
{% block refresh %} 
{% endblock %}
    {{super()}}
    <style type="text/css"> 
        html {height:100%}
        body {
        margin:0;
        height:100%;
        overflow:hidden
        }
    </style>
    
{% endblock %} 

<body>

    {% block nav %} 
    {{super()}}
    {% endblock %}

    {% block popupstart %} 
    {% endblock %}

    {% block contentboxleft %}
    <div class="contentboxleft">
        <div class="switchmapbuttons"><button type="button" class="btn btn-dark btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Maps showing average EPC (energy performance) and HPR (heat pump readiness) for Districts in England and Wales" onclick="bigmap();">UK Energy Performance</button><button type="button" class="btn btn-dark btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Maps Heat Pump Adoption Levels for Districts in England and Wales" onclick="adoptionmap();">UK Heat Pump Adoption</button></div>
        <iframe src="/bigmap" width=100%; id="bigmap"></iframe>
       
    </div>
    {% endblock %}
    

<div class="contentbox">
    
    {% block topcontent %} 
    {{super()}}
    {% endblock %}

    {% block singlerequest %} 
    {{super()}}
    {% endblock %}
    </div>
    
    {% block apireturn %} 

    <div id="responseboxright">
    
        {% block epcdetails %} 
        {{super()}}
        {% endblock %}

                {% if epc_string1 is defined %}
                <div class="heading" style="margin-top: 2%;">Compare within Postcode: </div> <div class="responsetext">Average EPC rating for {{location['postcode']}}: <span class="rate">{{average_epc}}</span></div> <div class="responsetext">Average HPR rating for {{location['postcode']}}: <span class="rate">{{average_hpr}}</div>
               
                    <div class="responsetext">{{epc_string1}} {% if tag1 == 0 %} <span class="notvalid">{{epc_string2}}</span> {% elif tag1 == 1 %} <span class="orange">{{epc_string2}}</span> {% else %} <span class="valid">{{epc_string2}}</span> {% endif %} <span class="responsetext">{{postcode_string}}</span></div>
                
                <div class="responsetext">{{hpr_string1}} {% if tag2 == 0 %} <span class="notvalid">{{hpr_string2}}</span> {% elif tag2 == 1 %} <span class="orange">{{hpr_string2}}</span> {% else %} <span class="valid">{{hpr_string2}}</span> {% endif %} <span class="responsetext">{{postcode_string}}</span></div>
                <hr style="width:101%; height:4px; background-color: black;  position: absolute; margin-top: 1%; margin-left: -1%;" />

                {% if valid == False %} 
                <div class="heading">Unable to Match to ONS Code</div>
                {% endif %}
                <div class="heading" style="margin-top: 1.5%;">Compare within Local Authority: </div> <div class="responsetext">Average EPC rating for {{local}}: <span class="rate">{{local_epc}}</span></div> <div class="responsetext">Average HPR rating for {{local}}: <span class="rate">{{local_hpr}}</span></div>

                <div class="responsetext">{{epc_local1}} {% if tag3 == 0 %} <span class="notvalid">{{epc_local2}}</span> {% elif tag3 == 1 %} <span class="orange">{{epc_local2}}</span> {% else %} <span class="valid">{{epc_local2}}</span> {% endif %} <span class="responsetext">{{local_string}}</span></div>

                <div class="responsetext">{{hpr_local1}} {% if tag4 == 0 %} <span class="notvalid">{{hpr_local2}}</span> {% elif tag4 == 1 %} <span class="orange">{{hpr_local2}}</span> {% else %} <span class="valid">{{hpr_local2}}</span> {% endif %} <span class="responsetext">{{local_string}}</span></div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
   
</div>

{% block footer %} 
{{super()}} 
{% endblock %}

{% block redirect %}
{% endblock %}

</body>
</html>


