<html>
    {% extends "base.html" %}
{% block head %}
{% block refresh %}
{% endblock %}
    {{super()}}


{% endblock %}



<body>

    {% block nav %}
    {{super()}}
    {% endblock %}

{% block basicmap %}
{% endblock %}



{% block contentboxleft %}

<div class="contentboxleft">

    {% if epc_string1 is not defined %}
     <iframe  src="/bigmap" id="bigmap"></iframe>

    {% endif %}

    {% if epc_string1 is defined %}
    <iframe  src="/ladmapleft" id="bigmap"></iframe>
    {% endif %}


</div>
{% endblock %}

{% if valid1 is defined %}
        {% if valid1 == False %}
        <script>alert("Could not match LAD to ONS code");</script>
        {% endif %}
    {% endif %}

<div class="contentbox1">

    {% block topcontent %}
    <div class="toprightbox">
        <form class="form-inline form-control-sm" action="/ladreq" style="position: absolute; top:50%; transform: translateY(-50%); margin-left: 1%;"  method="post" required id="ladreqform">
            <div class="input-group">
                <input type="text" class="form-control me-1" id="ladreq" name="ladreq" placeholder="ONS CODE">
                <button type="submit" form="ladreqform" class="btn btn-primary btn-sm">Submit</button>
            </div>
          </form>
        {% if valid is defined %}
            {% if valid == False %}
            <script>alert("Invalid ONS Code");</script>
            {% endif %}
            {% endif %}

        <form class="form-inline form-control-sm" method="post" action="/ladsingle" style="position: absolute; top:50%; transform: translateY(-50%); margin-left: 50%;" id="singlelad">
            <div class="input-group">
            <select class="form-select me-1" name="singlelad" id="singlelad">
            {% for o in names %}
                <option value="{{o}}" SELECTED>{{o}}</option>
            {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary btn-sm">Request LAD Info</button>
            </div>
        </form>
    </div>
    {% endblock %}



    {% block apireturn %}

            {% if epc_string1 is defined %}
            <div id="responseboxright">
            <div class="singleinfo">

                <div class="heading">Averages over all Local Authority Districts</div>
                <div class="responsetext">Average EPC: {{LAD_EPC_MEAN}}</div>
                <div class="responsetext">Average HPR: {{LAD_HPR_MEAN}}</div>
                <hr style="width:101%; height:4px; margin-left:-1%; background-color: black;  position:relative; margin-top: 1%;" />
                <div class="heading" >Comparing {{name}} ({{ons}}) to other Local Authority Districts</div> <div class="responsetext" >{{epc_string1}}</div>
                <div class="responsetext">{{hpr_string1}}</div>

                <div class="responsetext" >{% if tag1 == 0 %} <span class="notvalid">{{epc_string2}}</span> {% elif tag1 == 1 %} <span class="orange">{{epc_string2}}</span> {% elif tag1 == 2 %} <span class="valid">{{epc_string2}}</span> {% endif %}</div>

                <div class="responsetext" >{% if tag2 == 0 %} <span class="notvalid">{{hpr_string2}}</span> {% elif tag2 == 1 %} <span class="orange">{{hpr_string2}}</span> {% elif tag2 == 2 %} <span class="valid">{{hpr_string2}}</span> {% endif %} </div>

                <div class="responsetext" style="color:blue;">{{proportion_string}}</div>
                <div class="responsetext" style="color:blue;">{{exp_str}}</div>
            </div></div>
        {% else %}
            {{ super() }}
        {% endif %}
    {% endblock %}


    {% block apicontent1 %}
    {% if epc_string1 is defined %}
    <div id="responseboxright1">

            {% if ons is defined %}
                <iframe src="/graphpane" width=100% height=100% scrolling="no" id="graphpane" style="margin-top: 1%; margin-left: 1%;"></iframe>

            {% endif %}
    </div>

   {% endif %}
    {% endblock %}


</div>

{% block footer %}
{{super()}}
{% endblock %}

{% block redirect %}
{% endblock %}

</body>
</html>


