<html>
    {% extends "base.html" %}
{% block head %}
    {{super()}}
    <style type="text/css">
        html {height:100%}
        body {
        margin:0;
        height:100%;
        overflow:hidden
        }
    </style>
    <script type="text/javascript">
        function epcmap() {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/epcmap');
            form.style.display = 'hidden';
            document.body.appendChild(form)
            form.submit()
        }
    </script>

<script type="text/javascript">
    function hprmap() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/hprmap');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit()
    }
</script>

{% endblock %}



<body>

    {% block nav %}
    {{super()}}
    {% endblock %}

{% block basicmap %}
{% endblock %}

{% block contentboxleft %}
<div class="contentboxleft">
    <div class="switchtabbuttons"><button type="button" onclick="epcmap();">EPC Map</button><button type="button" onclick="hprmap();">HPR Map</button></div>
    <iframe class="bigmap" src="/hprbylad"></iframe>


</div>
{% endblock %}


<div class="contentbox1">


    {% block topcontent %}
    <form action="/ladreq" style="position: relative; left:1%; top:1%; width:40%;" method="post" required id="ladreqform">
        <label for="ladreq">Local Authority District (ONS):</label>
        <input style="position:relative; width: 40%; " type="text" id="ladreq" name="ladreq"><br><br>
    </form>
        <button type="submit" style="position: relative; left:5%; top:-2vh;" form="ladreqform" value="Submit">Request</button>
    {% if valid is defined %}
        {% if valid == False %}
        <script>alert("Invalid ONS Code");</script>
        {% endif %}
    {% endif %}

    <form style="position: absolute; left:50%; top:1%; width:40%" method="post" action="/ladsingle">
        <label for="singlelad">Select LAD</label>
        <select name="singlelad" id="singlelad">
        {% for o in names %}
            <option value="{{o}}" SELECTED>{{o}}</option>
        {% endfor %}
        </select>
        <br><br>
        <input style="position: relative; top:-2vh;" type="submit" value="Request LAD Info">
    </form>


    <hr style="width:100%; height:4px; background-color: black;  position:relative; top:-2%; " />
    {% endblock %}


    {% block apireturn %}

    {% if epc_string1 is defined %}

    <div class="singleinfo">

        <div class="heading">Averages over all Local Authority Districts</div>
        <div class="responsetext">Average EPC: {{LAD_EPC_MEAN}}</div>
        <div class="responsetext">Average HPR: {{LAD_HPR_MEAN}}</div>
        <hr style="width:100%; height:4px; background-color: black;  position:relative; top:0%;" />

        <div class="heading">Comparing {{name}} ({{ons}}) to other Local Authority Districts</div> <div class="responsetext" >{{epc_string1}}</div>
        <div class="responsetext">{{hpr_string1}}</div>

        <div class="responsetext" >{% if tag1 == 0 %} <span class="notvalid">{{epc_string2}}</span> {% elif tag1 == 1 %} <span class="orange">{{epc_string2}}</span> {% elif tag1 == 2 %} <span class="valid">{{epc_string2}}</span> {% endif %}</div>

        <div class="responsetext" >{% if tag2 == 0 %} <span class="notvalid">{{hpr_string2}}</span> {% elif tag2 == 1 %} <span class="orange">{{hpr_string2}}</span> {% elif tag2 == 2 %} <span class="valid">{{hpr_string2}}</span> {% endif %}</div>

        <div class="responsetext">{{proportion_string}}</div>
    </div>

{% else %}
    {{ super() }}
{% endif %}
    {% endblock %}

    {% block apicontent1 %}
    {% if epc_string1 is defined %}
    <div class="mapbox">
    <div class="tabs"><div class="switchtabbuttons"><button type="button" onclick="epcdetails();">LAD Map</button><button type="button" onclick="epctrends();">EPC Trends</button><button type="button" onclick="epcyoy();">Y/Y EPC</button></div></div>
    
            {% if ons is defined %} 
            <div class="wrapper">
                <iframe src="/mapepcyoy" id="mapepc"></iframe>
            </div>
            {% endif %}
    </div>
   {% endif %}
    {% endblock %}


    {% block apicontent2 %}
           
    {% endblock %}

</div>



</body>
</html>


