<!doctype html>
<html>
    {% extends "base.html" %}
{% block head %}
{% block refresh %}
{% endblock %}
    {{super()}}
    <style type="text/css">
        body {
        margin:0;
        height:100%;
        overflow:hidden
        }
    </style>
    <link rel="stylesheet" type="text/css" href="static/css/resize.css">

{% endblock %}

<body>

    {% block dimen %}
    {{super()}} 
    {% endblock %} 

    {% block nav %}
    {{super()}}
    {% endblock %}

    

    {% block contentboxleft %} 
    {% endblock %} 

    {% block content %} 
    <div id="contentboxgrid">
        {% if valid is not defined %} 
        <iframe id="biggrid" scrolling="no" src="/biggrid"></iframe>
        {% else %} 
        {% if valid == True %} 
        <iframe src="/biggridsingle" scrolling="no" width=100%; id="biggrid"></iframe>
        {% else %}
        <iframe src="/biggrid" scrolling="no" width=100%; id="biggrid"></iframe>
        {% endif %} 
        {% endif %}
    </div>

    <div class="contentboxright">

        {% block topcontent %}
        <div id="gridtoprightbox"> 
            <div class="singleinfo" style="margin-top: 1%;">
                <div class="heading" style="text-align: center; color: blue; font-size: 1.8vw; text-decoration: underline; margin-top: 1%;"><a href="#" data-bs-toggle="tooltip" data-bs-title="Primary substations drop voltage from 33kV to 11kV and are owned by various DNOs, which operate on the National Grid, owned by National Grid plc">National Grid Primary Substations</a> </div>
                <div class="responsetext" style="margin-top:1%">Firm Capacity for all Primary Substations: <span style="font-weight: bold;">{{capacity}} MVA</span> <span><i class="bi bi-info-circle icon-blue" data-bs-toggle="tooltip" data-bs-title="excludes Electricity North West"></i></span> </div>
                <div class="responsetext">Demand Headroom for all Primary Substations: <span style="font-weight: bold;">{{headroom}} MVA</span> </div>
                <div class="responsetext">Total Utilization: <span style="font-weight: bold;">{{utilization}}%</span> <span><i class="bi bi-info-circle icon-blue" data-bs-toggle="tooltip" data-bs-title="(Capacity - Headroom) / Capacity * 100"></i></span> </div>
                <hr style="width:101%; height:4px; background-color: black;  position: absolute; margin-top: 1%; margin-left: -1%;" />
            </div>
            
            <form class="form-inline form-control-sm" method="post" action="/gridsingle" style="position: absolute; text-align: center; margin-top: 4%; margin-left: 0%; flex:1;" id="singlegrid">
                <div class="input-group">
                    <select class="form-select me-1" name="singlegrid" id="singlegrid">
                    {% for o in constit22 %}
                        <option value="{{o}}" SELECTED>{{o}}</option>
                    {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm">Get Substation Data</button>
                    </div>
                </form>
        </div>
        {% endblock %}

            {% block gridresponse %} 
                
            {% if valid is defined %} 
            <div id="gridresponsebox">
            {% if valid == False %} 
            <div class="singleinfo">
                <div class="responsetext" style="font-weight: bolder;">No substation data available or no substations within the district bounds for {{constit_name}}</div>
                </div>
            {% else %} 
            <div class="singleinfo">
                <div class="responsetext">The Distribution Network Operator (DNO) for {{constit_name}} is <span style="font-weight: bold;">{{dno}}</span><span><i class="bi bi-info-circle icon-red" data-bs-toggle="tooltip" data-bs-title="Electricity North West Substations all have Firm Capacities set at 0.1 MVA due to missing data"></i></span></div>
                <div class="responsetext">Number of Primary Substations in {{constit_name}}: <span style="font-weight:bold;">{{num_substations}}</span></div>
                <div class="responsetext">Total (Primary) Substation Capacity: <span style="font-weight: bold;">{{capacity_single}} MVA</span> <span><i class="bi bi-info-circle icon-blue" data-bs-toggle="tooltip" data-bs-title="Summed Firm Capacity for all Primary Substations in district"></i></span> </div>
                <div class="responsetext">Total (Primary) Substation Headroom: <span style="font-weight: bold;">{{headroom_single}} MVA</span> <span><i class="bi bi-info-circle icon-blue" data-bs-toggle="tooltip" data-bs-title="Summed Demand Headroom for all Primary Substations in district"></i></span> </div>
                <div class="responsetext">Utilization for {{constit_name}} is <span style="font-weight: bold;">{{utilization_single}}%</span> </div>
            </div>
            <hr style="width:100%; height:2px; background-color: black;  position: absolute; margin-top:2.5%; " />
            <div class="singleinfo" style="margin-top: 4%;">
                <div class="responsetext">Assuming the Average Maximum Demand for a Heat Pump is <span style="font-weight: bold;">~1.7KW.</span><span><a href="https://www.sciencedirect.com/science/article/pii/S0306261917308954">[ref]</a></span></div>
                <div class="responsetext">Total Electricity Demand for 10% of homes in {{constit_name}}: <span style="font-weight: bold">{{ten_perc}} MVA</span> <span><i class="bi bi-info-circle icon-blue" data-bs-toggle="tooltip" data-bs-title="0.1 * number EPCs for district * 0.0017 MVA"></i></span> </div>
                {% if northwest == False %}
                <div class="responsetext">At 90% Utilization, {{constit_name}} could theoretically support up to <span style="font-weight: bold;">{{max_support}}</span> of additional heat pumps. <span><i class="bi bi-info-circle icon-blue" data-bs-toggle="tooltip" data-bs-title="If Current Primary Substation Capacity is 90% Full"></i></span> </div>
                <div class="responsetext">This is approximately <span style="font-weight: bold;">{{perc_homes}}%</span> of homes within {{constit_name}}.</div>
                {% else %}
                <div class="responsetext">By Utilising 90% of Available Demand Headroom, {{constit_name}} could theoretically support up to <span style="font-weight: bold;">{{max_support}}</span> of additional heat pumps. <span><i class="bi bi-info-circle icon-blue" data-bs-toggle="tooltip" data-bs-title="If Current Primary Substation Capacity is 90% Full"></i></span> </div>
                <div class="responsetext">This is approximately <span style="font-weight: bold;">{{perc_homes}}%</span> of homes within {{constit_name}}.</div>
                {% endif %}

            </div>
    
            {% endif %} 
            {% endif %} 
            {% endblock %}
            </div>
    
             

    </div>


       
       


    {% endblock %} 


{% block footer %}
{{super()}}
{% endblock %}

{% block redirect %}
{% endblock %}

</body>
</html>


