<html>
    {% extends "base.html" %}
{% block head %} 
    {{super()}}
    <style type="text/css"> 
        html {height:100%}
        body {
        margin:0;
        height:100%;
        overflow:hidden
        }
    </style>
    
{% endblock %} 



<body>

    {% block nav %} 
    {{super()}}
    {% endblock %}
    

<div class="contentbox">
    
    {% block topcontent %} 
    <form action="/postcode" style="position: relative; left:3%; top:2%" method="post" required id="postcodeform">
        <label for="postcode">Postcode:</label>
        <input type="text" id="postcode" name="postcode"><br><br>
        <input type="checkbox" style="position: absolute; left:0.2%; top:51%" id="individualadd" name="individualadd" value="True">
        <label style="position: absolute;  left:3%; top:45%" for="individualadd">Search for individual Home based on Postcode?</label><br>
    </form>
        <button type="submit" style="position: absolute; left:35%; top:2%" form="postcodeform" value="Submit">Request</button> 
    {% if valid is defined %}
        {% if valid == False %} 
        <script>alert("Invalid Postcode");</script>
        {% endif %}
    {% endif %}
    <hr style="width:100%; height:4px; background-color: black;  position:relative; top:-1%;" />
    {% endblock %}
    

    {% block singlerequest %} 
    {% if house_list is defined %}
    <form style="position: absolute; left:45%; top:0.2%; width:20%" method="post" action="/singlerequest">
        <label for="singleaddress">Select Address</label>
        <select name="singleaddress" id="singleaddress">
        {% for o in house_list %}
            <option value="{{o}}" SELECTED>{{o}}</option>
        {% endfor %}
        </select>
        <br><br>
        <input style="position: absolute; top:65%" type="submit" value="Request House Info">
    </form>
    {% endif %}
    {% endblock %}
    
    {% block apireturn %} 
    
        {% if location is defined %}
        <div class="switchtabbuttons"><button type="button" onclick="epcdetails();">EPC Details</button><button type="button" onclick="compare();">Compare</button></div>
            
        
            <div class="singleinfo">
                    
                <div class="heading">Property Address: </div> <div class="responsetext" >{{location['address1']}} {{location['postcode']}} ,{{location['county']}}</div>
                <div class="heading">Certificate Ratings :</div><div class="responsetext" >Current Rating: {{ratings['current']}} || Current Efficiency: {{ratings['current-int']}} || Tolerance: ({{ratings['band'][0]}} -> {{ratings['band'][1]}})</div>
                <div class="heading">Property Type: </div><div class="responsetext" >Type: {{property['type']}} || Form: {{property['form']}} || Tenure: {{property['tenure']}} || Age: {{property['age']}} || Cert Date: {{property['date']}}</div> 
                <div class="heading">Property Features: </div><div class="responsetext" >Windows: {{features['windows']}} <span class="rate">[{{features['windows-rate']}}]</span> || Flooring: {{features['floors']}} <span class="rate">[{{features['floors-rate']}}]</span> || Walls: {{features['walls']}} <span class="rate">[{{features['walls-rate']}}]</span> || Roofing: {{features['roof']}} <span class="rate">[{{features['roof-rate']}}]</span> || Main Heat: {{features['mainheat']}} <span class="rate">[{{features['mainheat-rate']}}]</span> || Hot Water: {{features['hot-water']}} || Fuel: {{features['mainfuel']}}</div> 
            </div>
            
            <hr style="width:100%; height:4px; background-color: black;  position:relative; top:-1.5%;" />
        {% else %} 
            {{ super() }}
        {% endif %} 
    {% endblock %}

    {% block apicontent1 %} 
            {% if improvements is defined %} 
            <div class="singleinfo">
                <div class="heading">Recommended Improvements: </div>
                {% for key, value in improvements.items() %} 
                <div class="responsetext">{{key}} -> {{value}}</div>
                {% endfor %}
            </div>
            <hr style="width:100%; height:4px; background-color: black;  position:relative; top:-1.5%;" />
            
            {% else %} 
                {{ super() }} 
            {% endif %} 
    {% endblock %}


    {% block apicontent2 %} 
            {% if e_date is defined %} 
            <div class="singleinfo">
                <div class="heading">Eligibility for Boiler Upgrade Scheme: </div>
                {% if e_date == False %} 
                    <div class="notvalid">Certificate is not Valid (10+ years old)</div>
                {% else %} 
                    <div class="valid">Certificate is Valid (in date)</div>
                {% endif %} 
                {% if e_walls == False %} 
                    <div class="notvalid">Walls insufficiently insulated, rated: {{features['walls-rate']}}</div>
                {% else %} 
                <div class="valid">Walls sufficiently insulated, rated: {{features['walls-rate']}}</div>
                {% endif %} 
                {% if e_roof == False %} 
                <div class="notvalid">Roof insufficiently insulated, rated: {{features['roof-rate']}}</div>
                {% else %} 
                <div class="valid">Roof sufficiently insulated, rated: {{features['roof-rate']}}</div>
                {% endif %} 
                {% if hpr is defined %} 
                    <div class="heading">Heat Pump Ready Rating: </div><div class="hpr">{{hpr}} -- {{tag}}</div>
                    </div>
                {% endif %}


            {% endif %} 
    {% endblock %}
   
</div>



</body>
</html>


